<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>sn-ionic-todos</title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/app.min.css" rel="stylesheet">

  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="cordova.js"></script>
  <script src="js/app.min.js"></script>
</head>
<body ng-app="app" ng-controller="AppController">

<ion-side-menus>

  <!--Center Content-->
  <ion-side-menu-content ng-controller="TaskController">

    <ion-header-bar class="bar-dark">
      <button ng-click="toggleLeft()" class="button button-icon icon ion-navicon"></button>

      <!--Show current list's info-->
      <h1 class="title">
        Ionic Todos {{ list ? ' - ' + list.name : ''}}
        <span ng-show="list" class="badge badge-stable">{{pendingTasks}}</span>
      </h1>
      <button ng-click="deleteList(list)" ng-show="list" class="button right button-clear ion-trash-a"></button>
    </ion-header-bar>

    <ion-content>
      <div class="row row-center">
        <div class="col col-center center padding">
          <p>
            <span>
              Select a list from the menu.
            </span>
          </p>
        </div>
      </div>
    </ion-content>

    <ion-content ng-show="list">

      <!--Input for new tasks-->
      <form name="formAddTask" ng-submit="createTask(task)">
        <label class="item item-input">
          <i class="icon ion-edit placeholder-icon"></i>
          <input type="text" placeholder="Type to add new tasks" ng-model="task.task" required/>
          <input type="submit" class="ng-hide"/>
        </label>
      </form>

      <!--List all current tasks-->
      <ion-list>
        <span ng-repeat="task in list.tasks | orderBy: 'done'"
              class="item item-icon-left item-icon-right hoverable color-fade-positive" href="#">

          <!--checkbox-->
          <i ng-class="task.done ? 'ion-ios-checkmark-outline' : 'ion-ios-circle-outline'"
             ng-click="toggleTask(task)"
             class="icon clickable"></i>

          <!--task name-->
          <span ng-class="task.done ? 'task-striked' : 'task' ">
            {{task.task}}
          </span>

          <!--delete button-->
          <i ng-click="deleteTask(task)" class="icon ion-trash-b clickable hoverable color-fade-assertive"></i>
        </span>
      </ion-list>

    </ion-content>

  </ion-side-menu-content>

  <!--Left Menu-->
  <ion-side-menu side="left" ng-controller="ListController">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Ionic Lists</h1>
    </ion-header-bar>
    <ion-content scroll="false">
      <!--Input for new List-->
      <form name="formAddList" ng-submit="createList(list)">
        <label class="item item-input">
          <i class="icon ion-compose placeholder-icon"></i>
          <input type="text" placeholder="New List" ng-model="list.name" required/>
          <input type="submit" class="ng-hide"/>
        </label>
      </form>

      <ion-scroll>
        <ion-list>
          <ion-item ng-repeat="list in lists" ng-click="selectList(list,true)"
                    ng-class="{'active-list': selectedList == list}">
            {{list.name}}
          </ion-item>
        </ion-list>
      </ion-scroll>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>

</body>
</html>
