<span ng-repeat="task in list.tasks | orderBy: 'done'"
      class="item item-icon-left item-icon-right hoverable color-fade-positive" href="#">

  <!--checkbox-->
  <i ng-class="task.done ? 'ion-ios-checkmark-outline' : 'ion-ios-circle-outline'"
     ng-click="toggleTask(task)"
     class="icon clickable"></i>

  <!--task name-->
  <span ng-class="task.done ? 'task-striked' : 'task' ">
    {{task.task}}
  </span>

  <!--delete button-->
  <i ng-click="deleteTask(task)" class="icon ion-trash-b clickable hoverable color-fade-assertive"></i>
</span>
