/* Empty. Add your own CSS if you like */
.task-striked {
  font-style: italic;
  text-decoration: line-through;
}

/*TODO: Pending animation color*/
.button-hover {
  color: black;
}

.button-hover:hover {
  cursor: hand;
  color: red;
  animation-name: color_chane;
  animation: color_change 1s;
  -webkit-animation: color_change 1s;

}
